.btnlink {
  border-radius: 0.7rem;
  button {
  background-color: #ffdf00;
    height: 2.2rem;
    margin: 0.5rem;
    border: 0;
    border-radius: 0.5rem;
    width: 4.1rem;
  }

  @media screen and (max-width: 370px) {
    button {
      width: 4rem;
    }
  }
}
