.listProduct {
  text-align: center;
  width: 100%;
  padding: 0.5rem;

  h4 {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    border-radius: 0.3rem;
  }

  .product {
    column-gap: 0.5rem;
    columns: 2;
    .card {
      margin-bottom: 0.5rem;
      break-inside: avoid-column; /* Evita que una tarjeta se divida en dos columnas */
    }
  }
}
