.btnWhatsapp {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: center;
  
  .paneluser {
    display: flex;
    background-color: rgb(23, 24, 48);
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    padding: 0.2rem;
  }

  .cart {
    position: relative;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: rgb(255, 5, 5);
      color: rgb(255, 255, 255);
      font-weight: 800;
      font-size: 13px;
      left: 50px;
      border-radius: 50px;
      width: 1.5rem;
    }
  }
}
