$primary: #191919;
$primary-hover: red;

$secundary: blue;
$secundary-hover: yellow;

$text-primary: rgb(136, 8, 8);
$text-secundary: grey;

$backgroud-primary: #1b2132;
$backgroud-secundary: grey;
$backgroud-tertiary: red;

$backgroud-ligth: rgb(255, 255, 255);

$success: green;
$danger: red;

$text-title-primary: white;
$text-sub-title-primary: rgb(184, 196, 20);
$text-primary-parrafo: #191919;
$text-sub: grey;
